{% extends "base_template.html" %}
{% load static %}

{% block body_block %}
    <h2>{{ question.question_text }}</h2>
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% if error_message %}
            {{ error_message }}<br>
        {% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice_radios" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
            <br>
        {% endfor %}
        <input type="submit" value="Vote">
    </form>
{% endblock %}